body { background: #f33bd0; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 16px; display: flex; }
.block-database-0 { color: #f422fe; font-size: 17px; margin-bottom: 5px; }
.block-validator-1 { color: #bf1527; font-size: 18px; margin-bottom: 5px; }
.block-cluster-2 { color: #80a908; font-size: 16px; margin-bottom: 5px; }
.block-validator-3 { color: #42d934; font-size: 16px; margin-bottom: 5px; }
.block-email-4 { color: #d6a3b; font-size: 17px; margin-bottom: 5px; }